<div class="drink-card">
    <figure style="text-align: center;">
    <img [src]="drink.strDrinkThumb" width="240" height="180" alt="drink">
    </figure>
    <div class="drink-details">
        <div class="details">
            <div class="drink-name">{{drink.strDrink}}</div>
            <div class="extras">
                <div class="d-flex justify-content-end">
                    <div><b>Drink Id: </b></div>
                    <div>{{drink.idDrink}}</div>
                    <div *ngIf="isSearched">
                        <div><b>Category: </b></div>
                        <div>{{drink.strAlcoholic}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>